server:
  port: ${SPRING_BOOT_PORT:8080} #if no .env, server run at port 8080

spring:
  config:
    import: optional:file:.env[.properties]
  devtools:
    livereload:
      enabled: true
  application:
    name: IntArear
  datasource:
    driver-class-name: <<db-driver>>
    url: <<url>>
    username: <<db-username>>
    password: <<db-password>>
  jpa:
    database-platform: <<dialect>>
    database: <<db>>
    hibernate:
      ddl-auto: update